/* Variables para el tema claro */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --navbar-bg-color: #f8f9fa;
  --dropdown-bg-color: #ffffff;
  --dropdown-border-color: #cccccc;
}

/* Variables para el tema oscuro */
[data-bs-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-bg-color: #343a40;
  --dropdown-bg-color: #1f1f1f;
  --dropdown-border-color: #444444;
}

/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: var(--navbar-bg-color);
    border-bottom: 3px solid #ffa500; /* Amarillo */
}

.navbar-brand {
    color: #ffffff; /* Blanco */
    font-weight: bold;
}

.nav-link {
    color: #ffffff; /* Blanco */
    font-weight: bold;
}

.nav-link:hover {
    color: #ffd700; /* Dorado */
}

/* Sección Home */
#home {
    background-color: #00ced1; /* Turquesa */
    color: #ffffff; /* Blanco */
    padding: 50px 0;
}

#home h1 {
    text-align: center;
    font-size: 2.5rem;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
}

/* Sección Historia */
#historia {
    background-color: #ff69b4; /* Rosa brillante */
    color: #ffffff; /* Blanco */
    padding: 50px 0;
}

#historia h1 {
    text-align: center;
    font-size: 2.5rem;
}

#historia p {
    text-align: center;
    font-size: 1.2rem;
}

/* Sección Partners */
#partners {
    background-color: #32cd32; /* Verde brillante */
    color: #ffffff; /* Blanco */
    padding: 50px 0;
}

#partners h1 {
    text-align: center;
    font-size: 2.5rem;
}

#partners p {
    text-align: center;
    font-size: 1.2rem;
}

/* Sección Proximamente */
#proximamente {
    background-color: #1e90ff; /* Azul brillante */
    color: #ffffff; /* Blanco */
    padding: 50px 0;
}

#proximamente h1 {
    text-align: center;
    font-size: 2.5rem;
}

#proximamente p {
    text-align: center;
    font-size: 1.2rem;
}

/* Botón de cambio de tema */
.dropdown-toggle {
    background-color: gray; /* Naranja brillante */
    color: #ffffff; /* Blanco */
}

.dropdown-menu {
    background-color: var(--dropdown-bg-color);
    border: 1px solid var(--dropdown-border-color);
}

.dropdown-item {
    color: var(--text-color);
}

.dropdown-item:hover {
    background-color: var(--dropdown-border-color);
    color: #ffffff; /* Blanco */
}